body{
  margin: 0;
}
.wrapper{
  margin:0 auto;
  background-image: url(hand.jpg);
  background-size: cover;
  padding:180px;
}
.msg{
  background-color:white;
  padding:0 50px 20px 50px;
  border:solid 5px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);
}
.midashi{
  background-color: rgb(236, 236, 236);
  padding:1px 15px;
  border-radius: 0.2cm;
  margin-top:30px;
  text-align: center;
}


.tytle{
  display: block;
}

.content{
  display: block;
}


.tytle-area{
  width:480px;
}

.content-area{
  height: 180px;
 width: 800px;
}

.notes{
  list-style-type: none;
}
.notes li {
  border-top:1px solid #e8e8e8;
  border-width:20%;
  padding:25px 0 25px 100px;
}
.alert ul{
  margin-left:-24px;
}
h1 {
  text-align: center;
}
