<div class="wrapper-about">
  <div class="msg">
    <div class="midashi-about">
    <h1>About</h1>
    </div>
    <h2>Tech Fellowとは？</h2>
    <p>
      Tech(プログラミング)Fellow(仲間)。そう。プログラミングを楽しむ仲間を見つけるのが私たちの目的です。アイデアを一から出し合うのも良いでしょう。もともとあるアイデアを共有するのも良いでしょう。Tech Fellowでできることは無限大です。さぁあなたも今すぐ会員登録！
    </p>
    <h2>具体的になにをするの？</h2>
    <p>
      このサイトでは、あなたが作りたいと思っているウェブサイト、ウェブアプリケーションの構想を自由に文章にして投稿できます。あなたの独創的なアイデアから生まれた構想に対して「おもしろい！」「作ってみたい！」と感じたプログラマーはすぐにいいね！を押してくれることでし
      ょう！幅広い知識を必要とするプログラマーにとっていろいろなスキルを持った仲間を持つことは必須です。互いに一つの目標に向かって頑張ることができる。そんな素敵な環境をTech Fellowは提供し続けたいと考えています。
    </p>
    <h3>プログラミングに自信がない・・・</h3>
    <p>
      プログラミンングに自信がなくても大丈夫です！あなたのアイデアという
    </p>

  </div>

</div>
