<div class="top-wrapper">
  <div class="top-container">
    <h1>BIG MOVEMENT<br>with your PG Power</h1>
    <p>プログラミングのできる仲間が欲しい。プログラミングで繋がりたい。<br>そんな人のためにBIG MOVEMENTはあります</p>
    <a href="#" class="btn sinki">新規登録</a>
    <a href="#" class="btn facebook">facebook</a>
    <a href="#" class="btn twitter">twitter</a>
  </div>
</div>
