<h1>投稿を編集する</h1>
<%= form_tag update_note_path(@note.id) , method:"patch" do %>
タイトル
<%= text_field_tag :title,@note.title ,class:"tytle tytle-area" %>
内容
<%= text_area_tag :content,@note.content ,class:"content content-area" %>
<%= submit_tag "保存"%>
<%end%>
