<div class="wrapper">
<div class="msg">
<div class="midashi">
<h1>Create</h1>
</div>
<%=form_tag notes_path do %>
タイトル
<%= text_field_tag 'note[title]',@note.title ,class:"tytle tytle-area"%>
内容
<%= text_area_tag name="note[content]" ,@note.content , class:"content content-area"%>
<input type="submit" value="投稿する" >
<%end%>

</div>
</div>
