<div class="wrapper">

<h1>Tech Fellowを集めよ！</h1>
<%=form_tag do %>
タイトル
<input type="text" class="tytle tytle-area">
内容
<textarea class="content content-area"></textarea>
<input type="submit" value="投稿する" >
<%end%>
</div>
